.header {
  text-align: center;
}

.header img {
  height: 11rem;
  opacity: 0.95;
}

.cardcont {
  border: 1px solid black;
  margin: 1em;
  flex-basis: auto;
  flex: auto;
  max-width: 250px;
  position: relative;
  float: left;
  box-shadow: 0.2em 0.2em 2em 0.1em #636363;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
}

.img-inner {
  height: 100%;
  text-align: center;
}

ul {
  list-style: none outside none;
  padding-left: 0;
  margin-bottom: 0;
}

.imagedesc {
  text-align: left;
}

.tekstikentta {
  text-align: center;
}

.content-center {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
}
