.galert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
	color: antiquewhite;
}

.input-group .helptext {
    color: white;
    font-size: small;
}